.card-candidate {
  display: flex;
  width: 35em;
  justify-content: space-around;
  border: 3px solid black;
  outline: 0;
  border-radius: 320px;
  padding: 8px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}

.unit {
  border-radius: 10px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}

.button {
  border: 0;
  outline: 0;
  font-size: 16px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}

.button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

.col-card-left {
}

.col-card-right {
}
