html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #ebecf0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
#root {
  height: 100%;
  width: 100%;
}

.viewTest1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
